<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="480"
  height="135"
>
  <foreignObject width="480" height="135">
    <div xmlns="http://www.w3.org/1999/xhtml" class="container">
      <style xmlns="http://www.w3.org/1999/xhtml">
        body {
          margin: 0;
        }
        div {
          font-family: Roboto;
        }

        .main {
          display: flex;
          -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.48);
          -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.48);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.48);
          width: 99%;
          padding: 3px 0px 7px 0px;
          border-radius: 60px 13px 60px 60px;
          position: relative;
        }

        .container {
          margin-left: 5px;
          padding: 5px 0px 5px 0px;
        }

        .playing {
          font-weight: bold;
          color: #53b14f;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .not-play {
          color: #ff1616;
        }

        .art {
          float: left;
          width: 27%;
          margin-left: -1px;
          padding-top: 5px;
          margin-bottom: -2px !important;
        }

        .text {
          width: 72%;
          padding-top: 5px;
        }

        .song {
          font-size: 20px;
          color: #666;
          font-weight: bold;
          text-align: left;
          margin-top: 3px;
        }

        .song-title-long {
          font-size: 20px;
          color: #666;
          font-weight: bold;
          text-align: left;
          margin-top: 3px;
          margin-bottom: 30px;
        }

        .song-info {
          float: left !important;
          width: 90%;
        }

        .artist {
          font-size: 13px;
          color: #b3b3b3;
          text-align: center;
          margin-bottom: 5px;
          float: left !important;
        }

        .rotate {
          animation: rotate 10s linear infinite;
        }

        @keyframes rotate {
          to {
            transform: rotate(360deg);
          }
        }

        .album-cover {
          border-radius: 50%;
          height: 100px;
          width: 100px;
          -webkit-box-shadow: 0px 0px 5px 0px rgba(92, 91, 92, 1);
          -moz-box-shadow: 0px 0px 5px 0px rgba(92, 91, 92, 1);
          box-shadow: 0px 0px 5px 0px rgba(92, 91, 92, 1);
          border-color: white;
          border-style: solid;
        }

        @keyframes sound {
          0% {
            opacity: 0.35;
            height: 3px;
          }

          100% {
            opacity: 1;
            height: 15px;
          }
        }
        .spectrograph {
          color: ##fff;
        }
        .spectrograph {
          bottom: 19px;
          display: -webkit-box;
          position: absolute;
          display: flex;
          -webkit-box-align: end;
          align-items: flex-end;
          width: 98%;
          height: 20px;
          overflow: hidden;
          -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='spectrograph' x='0' y='0' width='6px' height='4px' patternUnits='userSpaceOnUse'%3E%3Crect x='0' y='2px' width='6px' height='2px' fill='%23000'/%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23spectrograph)'%3E%3C/rect%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='spectrograph' x='0' y='0' width='6px' height='4px' patternUnits='userSpaceOnUse'%3E%3Crect x='0' y='2px' width='6px' height='2px' fill='%23000'/%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='url(%23spectrograph)'%3E%3C/rect%3E%3C/svg%3E");
        }
        .spectrograph__bar {
          margin: 0 1px 0 0;
          -webkit-box-flex: 0;
          flex: 0 0 6px;
          height: 100%;
          background: currentColor;
          -webkit-transform: translateY(100%);
          transform: translateY(100%);
          -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
          -webkit-animation: animation 1.5s steps(5, start) infinite alternate;
          animation: animation 1.5s steps(5, start) infinite alternate;
          will-change: transform;
        }

        .spectrograph__bar:last-child {
          margin: 0;
        }

        @-webkit-keyframes animation1 {
          0%,
          5% {
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
          }
          100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
        }

        @keyframes animation1 {
          0%,
          5% {
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
          }
          100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
        }
        @-webkit-keyframes animation2 {
          0%,
          66% {
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
          }
          33%,
          100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
        }
        @keyframes animation2 {
          0%,
          66% {
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
          }
          33%,
          100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
        }
        @-webkit-keyframes animation3 {
          33%,
          66% {
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
          }
          0%,
          45%,
          100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
        }
        @keyframes animation3 {
          33%,
          66% {
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
          }
          0%,
          45%,
          100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
        }

        .ribbon {
          position: absolute !important;
          right: -5px;
          top: -5px;
          z-index: 1;
          overflow: hidden;
          width: 75px;
          height: 75px;
          text-align: right;
        }
        .ribbon span {
          font-size: 15px;
          font-weight: bold;
          color: #fff;
          text-align: center;
          line-height: 20px;
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          width: 100px;
          display: block;
          background: #79a70a;
          background: linear-gradient(#1db954 0%, #1db954 100%);
          box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
          position: absolute;
          top: 19px;
          right: -21px;
        }
        .ribbon span::before {
          content: '';
          position: absolute;
          left: 0px;
          top: 100%;
          z-index: -1;
          border-left: 3px solid #1db954;
          border-right: 3px solid transparent;
          border-bottom: 3px solid transparent;
          border-top: 3px solid #1db954;
        }
        .ribbon span::after {
          content: '';
          position: absolute;
          right: 0px;
          top: 100%;
          z-index: -1;
          border-left: 3px solid transparent;
          border-right: 3px solid #1db954;
          border-bottom: 3px solid transparent;
          border-top: 3px solid #1db954;
        }

        .spotify-logo {
          z-index: 1;
          width: 52%;
          height: 52%;
          margin-bottom: -3px;
          margin-right: 1px;
        }

        .explicit-music {
          background-color: #9c9c9c;
          border-radius: 3px;
          font-size: 10px;
          color: white;
          vertical-align: baseline;
          padding: 1px 3px 1px 3px;
          margin-left: 3px;
        }
        .centered {
          position: absolute;
          top: 50%;
          left: 13%;
          transform: translate(-50%, -50%);
          color: white;
          font-size: 20px;
        }
        .duration {
          font-family: Roboto;
          position: fixed;
          width: 30px;
          margin-left: -50px;
          margin-top: 78px;
          background-color: #9c9c9c;
          border-radius: 5px;
          font-size: 13px;
          color: white;
          vertical-align: baseline;
          padding: 2px 0px 2px 6px;
        }

        .title {
          margin: 0 auto;
          white-space: nowrap;
          overflow: hidden;
          position: absolute;
          width: 68%;
        }

        .title span {
          display: inline-block;
          padding-left: 100%;
          animation: marquee 10s linear infinite;
        }

        .title-animation span {
          animation-delay: 0s;
        }

        @keyframes marquee {
          0% {
            transform: translate(0, 0);
          }
          100% {
            transform: translate(-100%, 0);
          }
        }

        .spectrograph__bar:nth-child(1) {
          -webkit-animation-name: animation3;
          animation-name: animation3;
          -webkit-animation-duration: 1800ms;
          animation-duration: 1800ms;
        }
        .spectrograph__bar:nth-child(2) {
          -webkit-animation-name: animation1;
          animation-name: animation1;
          -webkit-animation-duration: 1900ms;
          animation-duration: 1900ms;
        }
        .spectrograph__bar:nth-child(3) {
          -webkit-animation-name: animation1;
          animation-name: animation1;
          -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
        }
        .spectrograph__bar:nth-child(4) {
          -webkit-animation-name: animation2;
          animation-name: animation2;
          -webkit-animation-duration: 2100ms;
          animation-duration: 2100ms;
        }
        .spectrograph__bar:nth-child(5) {
          -webkit-animation-name: animation1;
          animation-name: animation1;
          -webkit-animation-duration: 2200ms;
          animation-duration: 2200ms;
        }
        .spectrograph__bar:nth-child(6) {
          -webkit-animation-name: animation3;
          animation-name: animation3;
          -webkit-animation-duration: 2300ms;
          animation-duration: 2300ms;
        }
        .spectrograph__bar:nth-child(7) {
          -webkit-animation-name: animation3;
          animation-name: animation3;
          -webkit-animation-duration: 2400ms;
          animation-duration: 2400ms;
        }
        .spectrograph__bar:nth-child(8) {
          -webkit-animation-name: animation3;
          animation-name: animation3;
          -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
        }
        .spectrograph__bar:nth-child(9) {
          -webkit-animation-name: animation1;
          animation-name: animation1;
          -webkit-animation-duration: 2600ms;
          animation-duration: 2600ms;
        }
        .spectrograph__bar:nth-child(10) {
          -webkit-animation-name: animation2;
          animation-name: animation2;
          -webkit-animation-duration: 2700ms;
          animation-duration: 2700ms;
        }
        .spectrograph__bar:nth-child(11) {
          -webkit-animation-name: animation2;
          animation-name: animation2;
          -webkit-animation-duration: 2800ms;
          animation-duration: 2800ms;
        }
        .spectrograph__bar:nth-child(12) {
          -webkit-animation-name: animation3;
          animation-name: animation3;
          -webkit-animation-duration: 2900ms;
          animation-duration: 2900ms;
        }
        .spectrograph__bar:nth-child(13) {
          -webkit-animation-name: animation2;
          animation-name: animation2;
          -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
        }
        .spectrograph__bar:nth-child(14) {
          -webkit-animation-name: animation2;
          animation-name: animation2;
          -webkit-animation-duration: 3100ms;
          animation-duration: 3100ms;
        }
        .spectrograph__bar:nth-child(15) {
          -webkit-animation-name: animation2;
          animation-name: animation2;
          -webkit-animation-duration: 3200ms;
          animation-duration: 3200ms;
        }
        .spectrograph__bar:nth-child(16) {
          -webkit-animation-name: animation2;
          animation-name: animation2;
          -webkit-animation-duration: 3300ms;
          animation-duration: 3300ms;
        }
        .spectrograph__bar:nth-child(17) {
          -webkit-animation-name: animation2;
          animation-name: animation2;
          -webkit-animation-duration: 3400ms;
          animation-duration: 3400ms;
        }
        .spectrograph__bar:nth-child(18) {
          -webkit-animation-name: animation3;
          animation-name: animation3;
          -webkit-animation-duration: 3500ms;
          animation-duration: 3500ms;
        }
        .spectrograph__bar:nth-child(19) {
          -webkit-animation-name: animation1;
          animation-name: animation1;
          -webkit-animation-duration: 3600ms;
          animation-duration: 3600ms;
        }
        .spectrograph__bar:nth-child(20) {
          -webkit-animation-name: animation3;
          animation-name: animation3;
          -webkit-animation-duration: 3700ms;
          animation-duration: 3700ms;
        }
        .spectrograph__bar:nth-child(21) {
          -webkit-animation-name: animation3;
          animation-name: animation3;
          -webkit-animation-duration: 3800ms;
          animation-duration: 3800ms;
        }
        .spectrograph__bar:nth-child(22) {
          -webkit-animation-name: animation1;
          animation-name: animation1;
          -webkit-animation-duration: 3900ms;
          animation-duration: 3900ms;
        }
        .spectrograph__bar:nth-child(23) {
          -webkit-animation-name: animation3;
          animation-name: animation3;
          -webkit-animation-duration: 4000ms;
          animation-duration: 4000ms;
        }
        .spectrograph__bar:nth-child(24) {
          -webkit-animation-name: animation1;
          animation-name: animation1;
          -webkit-animation-duration: 4100ms;
          animation-duration: 4100ms;
        }
        .spectrograph__bar:nth-child(25) {
          -webkit-animation-name: animation1;
          animation-name: animation1;
          -webkit-animation-duration: 4200ms;
          animation-duration: 4200ms;
        }
        .spectrograph__bar:nth-child(26) {
          -webkit-animation-name: animation3;
          animation-name: animation3;
          -webkit-animation-duration: 4300ms;
          animation-duration: 4300ms;
        }
        .spectrograph__bar:nth-child(27) {
          -webkit-animation-name: animation2;
          animation-name: animation2;
          -webkit-animation-duration: 4400ms;
          animation-duration: 4400ms;
        }
        .spectrograph__bar:nth-child(28) {
          -webkit-animation-name: animation1;
          animation-name: animation1;
          -webkit-animation-duration: 4500ms;
          animation-duration: 4500ms;
        }
        .spectrograph__bar:nth-child(29) {
          -webkit-animation-name: animation2;
          animation-name: animation2;
          -webkit-animation-duration: 4600ms;
          animation-duration: 4600ms;
        }
        .spectrograph__bar:nth-child(30) {
          -webkit-animation-name: animation3;
          animation-name: animation3;
          -webkit-animation-duration: 4700ms;
          animation-duration: 4700ms;
        }
        .spectrograph__bar:nth-child(31) {
          -webkit-animation-name: animation2;
          animation-name: animation2;
          -webkit-animation-duration: 4800ms;
          animation-duration: 4800ms;
        }
        .spectrograph__bar:nth-child(32) {
          -webkit-animation-name: animation3;
          animation-name: animation3;
          -webkit-animation-duration: 4900ms;
          animation-duration: 4900ms;
        }
        .spectrograph__bar:nth-child(33) {
          -webkit-animation-name: animation3;
          animation-name: animation3;
          -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
        }
        .spectrograph__bar:nth-child(34) {
          -webkit-animation-name: animation3;
          animation-name: animation3;
          -webkit-animation-duration: 5100ms;
          animation-duration: 5100ms;
        }
        .spectrograph__bar:nth-child(35) {
          -webkit-animation-name: animation3;
          animation-name: animation3;
          -webkit-animation-duration: 5200ms;
          animation-duration: 5200ms;
        }
        .spectrograph__bar:nth-child(36) {
          -webkit-animation-name: animation2;
          animation-name: animation2;
          -webkit-animation-duration: 5300ms;
          animation-duration: 5300ms;
        }
        .spectrograph__bar:nth-child(37) {
          -webkit-animation-name: animation2;
          animation-name: animation2;
          -webkit-animation-duration: 5400ms;
          animation-duration: 5400ms;
        }
        .spectrograph__bar:nth-child(38) {
          -webkit-animation-name: animation3;
          animation-name: animation3;
          -webkit-animation-duration: 5500ms;
          animation-duration: 5500ms;
        }
        .spectrograph__bar:nth-child(39) {
          -webkit-animation-name: animation3;
          animation-name: animation3;
          -webkit-animation-duration: 5600ms;
          animation-duration: 5600ms;
        }
        .spectrograph__bar:nth-child(40) {
          -webkit-animation-name: animation3;
          animation-name: animation3;
          -webkit-animation-duration: 5700ms;
          animation-duration: 5700ms;
        }
        .spectrograph__bar:nth-child(41) {
          -webkit-animation-name: animation3;
          animation-name: animation3;
          -webkit-animation-duration: 5800ms;
          animation-duration: 5800ms;
        }
        .album-cover:not([src]) {
          box-shadow: none;
        }
      </style>
      <body>
        <div class="main">
          <div class="ribbon">
            <span> HellCatVN </span>
          </div>
          <a class="art" href="{}" target="_BLANK">
            <center>
              <img
                <%if (cover !=null) { %>
                  src="<%= cover %>"
                <% } %>
                class="album-cover rotate"
              />
              <div class="centered">⦿</div>
            </center>
          </a>
          <div class="text">
            <div class="song-info">
              <div class="song-title-long">
                <p class="title title-animation">
                  <span><%= title %></span>
                </p>
              </div>

              <div class="artist"><%= artist %></div>
            </div>
            <div class="spectrograph">
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
              <div class="spectrograph__bar"></div>
            </div>
          </div>
        </div>
      </body>
    </div>
  </foreignObject>
</svg>
